<div class="modal-header">
    <span>{{ title }}</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <nb-tabset (changeTab)="onChangeTab($event)">
        <nb-tab tabTitle="School" tabIcon="nb-home" responsive>
            <form class="form-horizontal">
                <div class="row pt-5">
                    <div class="col-sm-10">
                        <div class="form-group row">
                            <label for="schoolName" class="col-sm-3 col-form-label">Name</label>
                            <div class="input-group col-sm-7">
                                <input type="text" id="schoolName" name="schoolName" maxlength="90"
                                    [(ngModel)]="schoolDetail.schoolName" class="form-control"
                                    placeholder="School Name" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-3 col-form-label">Address</label>
                            <div class="input-group col-sm-7">
                                <textarea type="text" id="address" name="address" row="5" maxlength="500"
                                    [(ngModel)]="schoolDetail.address" class="form-control" placeholder="Address">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="city" class="col-sm-3 col-form-label">City</label>
                            <div class="input-group col-sm-7">
                                <input type="text" id="city" name="city" maxlength="45"
                                    [(ngModel)]="schoolDetail.cityName" class="form-control" placeholder="City">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-3 col-form-label">State</label>
                            <div class="input-group col-sm-7">
                                <select id="state" name="state" class="form-control form-control-sm"
                                    [(ngModel)]="schoolDetail.state" (change)="onStateChange($event)">
                                    <option value="--Select State--">--Select State--</option>
                                    <option *ngFor="let state of stateList" value={{state.stateName}}>
                                        {{state.stateName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="district" class="col-sm-3 col-form-label">District</label>
                            <div class="input-group col-sm-7">
                                <select id="district" name="district" class="form-control form-control-sm"
                                    [(ngModel)]="schoolDetail.district">
                                    <option value="--Select District--">--Select District--</option>
                                    <option *ngFor="let district of districtList" value={{district}}>
                                        {{district}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </nb-tab>

        <nb-tab tabTitle="Class" class="pt-3" tabIcon="nb-person" responsive>
            <ng2-smart-table [settings]="classTableSetting" [source]="classDetail" (createConfirm)="onClassAdd($event)"
                (editConfirm)="onClassEdit($event)" (deleteConfirm)="onClassDeleteConfirm($event)">
            </ng2-smart-table>
        </nb-tab>

        <nb-tab tabTitle="Performance Parameter" class="pt-3" tabIcon="nb-bar-chart" responsive>
            <ng2-smart-table [settings]="perfParamDynamicSetting" [source]="perfParamDynamicDetail"
               (editConfirm)="onParameterEdit($event)">
            </ng2-smart-table>
        </nb-tab>

        <nb-tab tabTitle="Holidays" class="pt-3" tabIcon="nb-volume-high" responsive>
            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        Holidays
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <ng2-smart-table [settings]="schoolHolidaySetting" [source]="schoolHolidayDetail"
                            (createConfirm)="onPostCallForHoliday($event)" (editConfirm)="onPostCallForHoliday($event)"
                            (deleteConfirm)="onDeleteConfirmForHoliday($event)">
                        </ng2-smart-table>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        Weekend Working Days
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <ng2-smart-table [settings]="schoolWeekendWorkSetting" [source]="schoolWeekendWorkDetail"
                            (createConfirm)="onPostCallForWeekendWorking($event)"
                            (editConfirm)="onPostCallForWeekendWorking($event)"
                            (deleteConfirm)="onDeleteConfirmForWeekendWorking($event)">
                        </ng2-smart-table>
                    </nb-accordion-item-body>
                </nb-accordion-item>

            </nb-accordion>

        </nb-tab>

    </nb-tabset>
</div>

<div class="modal-footer">
    <button nbButton status="primary" (click)="onSubmitChanges()" class='text-right'>Submit</button>
</div>