<nb-card size="large">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <nb-tabset (changeTab)="onChangeTab($event)" fullWidth>
            <nb-tab tabTitle="School">
                <form class="form-horizontal">
                    <div class="row pt-5">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="schoolName" class="col-md-3 col-form-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="School Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-3 col-form-label">Address</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-md-3 col-form-label">City</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-3 col-form-label">State</label>
                                <div class="col-md-9">
                                    <nb-select placeholder="Select" outline>
                                        <nb-option value="1">Tamil Nadu</nb-option>
                                        <nb-option value="2">Kerala</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="district" class="col-md-3 col-form-label">District</label>
                                <div class="col-md-9">
                                    <nb-select placeholder="Select" outline>
                                        <nb-option value="1">Tamil Nadu</nb-option>
                                        <nb-option value="2">Kerala</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </nb-tab>

            <nb-tab tabTitle="Class" class="pt-3">
                <ng2-smart-table [settings]="classTableSetting" [source]="classDetail" (deleteConfirm)="onDeleteConfirmForClass($event)">
                </ng2-smart-table>
            </nb-tab>

            <nb-tab tabTitle="Performance Parameter" class="pt-3">
                <nb-radio-group [(value)]="schoolDetail.perfParamType" (click)="onChangePerfParamType($event)">
                    <nb-radio [value]="'DEFAULT'"> Default </nb-radio>
                    <nb-radio [value]="'CUSTOMIZED'"> Customized </nb-radio>
                </nb-radio-group>

                <span *ngIf="schoolDetail.perfParamType == 'DEFAULT'">
                    <ng2-smart-table [settings]="perfParamSetting" [source]="perfParamDetail" (deleteConfirm)="onDeleteConfirmForPerfParam($event)">
                    </ng2-smart-table>
                </span>
                <span *ngIf="schoolDetail.perfParamType == 'CUSTOMIZED'">
                    <ng2-smart-table [settings]="perfParamDynamicSetting" [source]="perfParamDynamicDetail" (deleteConfirm)="onDeleteConfirmForPerfParam($event)">
                    </ng2-smart-table>
                </span>
            </nb-tab>

            <nb-tab tabTitle="Holidays" class="pt-3">
                <p>Under working</p>
            </nb-tab>

        </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-6">
                <button nbButton status="primary" (click)="dismiss()">Close</button>
            </div>
            <div class="col-md-6 text-right">
                <button nbButton status="primary" (click)="onSubmitChanges()" class='text-right'>Submit</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>